@import mixins

.leafbrowser
  float: left
  height: 100%
  width: 170px
  background-color: #FDFFFD
  border-right: 1px solid #C8C8C8
  overflow: auto
  +vendor-prefix(user-select, none)

  .bundle
    position: relative
    margin-bottom: 2px

    &.expanded
      .bundle-controls
        display: inline-block
      .bundle-label:before
        content: "\f0d7" /* caret-down */
        margin-left: 4px
        margin-right: 6px
        top: 1px
      .bundle-children
        max-height: 1500px
        +vendor-prefix(transition, all 500ms cubic-bezier(0.960, 0.000, 0.885, 0.590))

    &.collapsed
      .bundle-controls
        display: none
      .bundle-label:before
        content: "\f0da" /* caret-right */
        margin-left: 6px
        margin-right: 4px
      .bundle-children
        max-height: 0px
        +vendor-prefix(transition, all 200ms cubic-bezier(0.000, 0.980, 0.000, 1.000))
        &:empty:after
          content: none

  .bundle-children
    position: relative
    overflow: hidden

    &:empty
      height: 15px

      &:after
        content: "empty"
        position: absolute
        top: -1px
        left: 14px
        font-size: 10px
        color: rgb(181, 181, 181)


    &:not(.top-bundle-children)
      margin-left: 11px

  .top-bundle-children
    margin-top: 5px

  .bundle-controls
    line-height: 14px

    &:not(.top-controls)
      position: absolute
      right: 2px
      top: 2px

      & > div
        opacity: 0.5
        &:hover
          opacity: 1

    & > div
      display: inline-block
      width: 16px
      height: 15px
      line-height: 0
      padding: 2px
      margin: 0px 1px
      background-color: rgb(255, 255, 255)
      border-bottom: 1px solid rgb(219, 218, 218)
      border-radius: 4px
      font-size: 11px
      color: rgb(144, 144, 144)
      text-align: center
      box-sizing: border-box
      cursor: pointer

  .top-controls
    width: 100%
    background-color: rgb(236, 236, 236)
    padding: 2px
    box-sizing: border-box
    text-align: right

  .new-bundle-prompt, .new-leaf-prompt
    outline: none
    width: 80px
    border-radius: 2px
    border: 1px solid rgb(199, 199, 199)

  .bundle-label, .leaf-label
    font-size: 14px
    cursor: pointer
    padding-right: 10px
    font-family: 'Source Sans Pro', sans-serif

    &:before
      position: relative
      font-family: FontAwesome
      color: rgb(171, 171, 171)
      display: inline-block
      width: 7px

  .bundle-label
    display: inline-block
    font-weight: 600
    color: #1E657B

  .leaf-label
    position: relative
    display: block
    margin-left: 6px
    font-weight: 400
    color: #646464
    z-index: 0

    &.selected:after
      content: ""
      position: absolute
      top: 1px
      width: 1000px
      height: 17px
      background-color: #E0F4E3
      left: -500px
      z-index: -1

  .leaf-label.prompt
    &:before
      font-size: 10px
      margin-left: 5px
      margin-right: 5px
      content: "\f06c" /* leaf */
